@media only screen and (max-width: 768px) {

  .slidess {
    position: relative;
    right: 75px;
  }
}

@media only screen and (max-width: 768px) {

  .slides {

    width: 1000px;
    position: relative;
    right: 70px;
    bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {

  .slidesss {


    position: relative;
    bottom: 40px;
  }
}

@media only screen and (max-width: 768px) {

  .slidessss {


    position: relative;

    left: 100px;
    position: fixed;
  }
}


.font-Manrope {
  font-family: "Manrope", sans-serif;
}

.slide-font-color {
  color: rgba(66, 40, 27, 1);
  font-weight: 500;
}


/* Card Hover Css */

.text-hover {
  color: rgba(77, 77, 77, 1);
  transition: border-color 0.3s;
}

.text-hover:hover {
  color: #632E04;
  border-color: rgba(99, 46, 4, 1);
}

.text-hover img {
  filter: grayscale(100%);
  transition: filter 0.3s, opacity 0.3s;
  opacity: 0.5;
  /* Adjust the opacity to simulate rgba color */
}

.text-hover.hovered img {
  filter: none;
  /* Remove grayscale on hover */
  opacity: 1;
  /* Reset opacity on hover */
}

.font-700 {
  font-weight: 700;
}

.font-600 {
  font-weight: 600;
}

.font-500 {
  font-weight: 500;
}